# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
crash.log
*.tfplan
terraform.exe
Plan 2/Terraformplan.tf
Plan_2/Terraformplan.tf
.gitattributes
variables.tf
serviceprincplet.tfvars
