trigger:
  - main

pool:
  name: Default

variables:
  backendResourceGroup: 'VSP-TCH'
  backendStorageAccount: 'vesperstorage'
  backendContainer: 'tfstate'
  backendKey: 'terraform.tfstate'
  environment: 'dev'

stages:
# ------------------- #
# STAGE 1: INIT
# ------------------- #
- stage: Terraform_Init
  jobs:
    - job: init
      steps:
        - checkout: self

        - task: AzureCLI@2
          inputs:
            azureSubscription: 'terraform'
            scriptType: bash
            scriptLocation: inlineScript
            inlineScript: |
              echo "Logged into Azure using service connection"

        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

        - script: |
            terraform init \
              -backend-config="resource_group_name=$(backendResourceGroup)" \
              -backend-config="storage_account_name=$(backendStorageAccount)" \
              -backend-config="container_name=$(backendContainer)" \
              -backend-config="key=$(backendKey)"
          displayName: 'Terraform Init'
          env:
            NAME: $(VARIABLES)
            ARM_CLIENT_ID: $(ARM_CLIENT_ID)
            ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
            ARM_TENANT_ID: $(ARM_TENANT_ID)
            ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)

# ------------------- #
# STAGE 2: PLAN
# ------------------- #
- stage: Terraform_Plan
  jobs:
    - job: plan
      steps:
        - checkout: self

        - script: terraform plan -out=tfplan
          displayName: 'Terraform Plan'

        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(System.DefaultWorkingDirectory)/tfplan'
            artifact: 'tfplan'
            publishLocation: 'pipeline'

# ------------------- #
# STAGE 3: APPLY
# ------------------- #
- stage: Terraform_Apply
  dependsOn: Terraform_Plan
  condition: succeeded()
  jobs:
    - job: apply
      steps:
        - checkout: self

        - download: current
          artifact: tfplan

        - script: terraform apply tfplan
          displayName: 'Terraform Apply'
